name: Generate Workspace & Publish Webapp

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job generate workspace artifact that will be used by next job to build and publish webapp 
  workspace_setup:
    name: Genrate workspace
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      MODULE_NAME: forknite
      MODULES_INDEX_FILE: src/modules/modules_index
      SCRIPTS_DIR: src/modules/pwa-tools/scripts/
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Setup CRA project
        run:
          pwd && ls -la &&
          yarn create react-app . --template cra-template-pwa-typescript &&
          mkdir ./src/modules/
      - name: Download packages deps
        run: |
          yarn add react-router-dom three @types/three cannon-es 
          yarn add sparse-octree @timohausmann/quadtree-js proj4 
          yarn add mousetrap @types/mousetrap
      - uses: actions/checkout@v2
        with:
          path: "src/modules/forknite"
      - uses: actions/checkout@v2
        with:
          repository: "etienne1911/pwa-tools"
          path: "src/modules/pwa-tools"
      - name: Include foreign modules
        env:
          GITLAB_USR: ${{ secrets.GITLAB_USER }}
          GITLAB_PWD: ${{ secrets.GITLAB_TOKEN }}
        run: |
          echo $CI
          # clone foreign modules
          echo "$GITLAB_USR:$GITLAB_PWD@gitlab.com/three-modules/three-core-modules.git" >> $MODULES_INDEX_FILE
          echo "gitlab.com/three-modules/three-resources.git" >> $MODULES_INDEX_FILE
          echo "gitlab.com/three-modules/three-experiments.git" >> $MODULES_INDEX_FILE
          cd src/modules/
          echo $GITHUB_WORKSPACE/$SCRIPTS_DIR
          node $GITHUB_WORKSPACE/$SCRIPTS_DIR/gen_git_commands.mjs $GITHUB_WORKSPACE/$MODULES_INDEX_FILE | sh 
          pwd && ls -la
          cd ./three-experiments/ && git checkout voxels
      - name: Complete modules index and Generate gitmodules config file 
        run: |
          # add remaining modules to the index
          echo "github.com/etienne1911/forknite.git" >> $MODULES_INDEX_FILE
          echo "github.com/etienne1911/pwa-tools.git" >> $MODULES_INDEX_FILE
          # generate file
          node $SCRIPTS_DIR/gen_gitmodules.mjs $MODULES_INDEX_FILE >> .gitmodules
          cat .gitmodules
          # keep module index file and backup mandatory script
          mkdir backup
          mv $MODULES_INDEX_FILE backup/
          cp $SCRIPTS_DIR/gen_git_commands.mjs backup/
      - name: Patch/customize cra files #requires node package installed + scripts from pwa-tools rep
        env:
          JSON_PATCHER: "./src/modules/pwa-tools/scripts/json_cfg_patcher.mjs"
          TSCONF_PATCH: '{"compilerOptions":{"target":"es2015","strict":false}}'
          MANIFEST_PATCH: '{"short_name":"Forknite","name":"Forknite PWA Demo", "display": "fullscreen", "description":"Fortnite clone PWA version","start_url":"/ForkniteDemo", "orientation": "landscape" }'
          PACKAGE_PATCH: '{"scripts":{"setup":"cd src/modules && node gen_git_commands.mjs modules_index | sh"}}'
          VIEWPORT_LINE: '<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />'
          TITLE_LINE: '<title>Forknite PWA</title>'
          HTML_PATCH_FILE: 'src/modules/pwa-tools/patches/gh-pages_spa-fix.patch'
          #HTML_PATCH_CONTENT: $(cat $HTML_PATCH_FILE)
        run: |
          node --experimental-json-modules $JSON_PATCHER ./tsconfig.json "${TSCONF_PATCH}" > temp.json
          mv temp.json tsconfig.json
          node --experimental-json-modules $JSON_PATCHER ./public/manifest.json "${MANIFEST_PATCH}" > temp.json
          mv temp.json ./public/manifest.json
          node --experimental-json-modules $JSON_PATCHER ./package.json "${PACKAGE_PATCH}" > temp.json
          mv temp.json ./package.json
          sed -i "s/.\/App/.\/modules\/${MODULE_NAME}\//" src/index.tsx 
          sed -i "/viewport/c${VIEWPORT_LINE}" public/index.html
          cat ./tsconfig.json && cat ./src/index.tsx && cat ./public/manifest.json && cat public/index.html
          sed -i "/\/title/c${TITLE_LINE}" public/index.html
          export HTML_PATCH_CONTENT=$(cat $HTML_PATCH_FILE) && echo $HTML_PATCH_CONTENT
          sed -i "/\/head/i${HTML_PATCH_CONTENT}" public/index.html
          cp src/modules/pwa-tools/patches/404.html public/
      - name: Link public assets
        run: ln -s $GITHUB_WORKSPACE/src/modules/three-resources/assets public/ && ls -la public/assets/
      - name: Build web app
        run: CI=false PUBLIC_URL=/forknite yarn build
      - name: Post build
        run: rm -rf src/modules && mv backup/ src/modules
      - name: Workspace artefact
        uses: actions/upload-artifact@v2
        with:
          name: forknite-workspace-artifact
          path: |
            .
            !./node_modules/
            !./build/
            # !./src/modules/*/
  # This job retrieve workspace artifact published before 
  webapp_deploy:
    name: Publish webapp
    needs: workspace_setup
    runs-on: ubuntu-latest
    
    steps:
    - name: Retrieve workspace artifact
      uses: actions/download-artifact@v2
      with:
        name: forknite-workspace-artifact 
      
    - name: Display structure of downloaded files
      run: ls -R
      
    - name: Download packages deps and checkout modules
      run: |
        yarn
        yarn setup
        cd src/modules/three-experiments/ && git checkout voxels

    - name: Build web app (include build information)
      env: 
        RUN_ID: ${{ github.run_id }}
        RUN_NUM: ${{ github.run_number }}
      run: |
        timestamp=$(date '+%Y%m%d') #$(date '+%Y-%m-%d_%H:%M:%S') 
        build_num=$timestamp\#$RUN_NUM
        echo $build_num
        CI=false PUBLIC_URL=/forknite REACT_APP_BUILD_NUM=$build_num yarn build
      
    - name: Github pages deployment
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/


